{% extends 'base.html' %}

{% block content %}

    <div>
        <br />
        <br />

    </div>
  <div class="container text-left">

<div>
    <h1 style="text-align:right;">
        پشتیبانی :
    </h1>
    <br />
    <br />
    <br />

</div>
<div class="text-body" >


    <br/>

            <br />
            <h4 >Email : amir.ara456@gmail.com</h4>
            <br />
            <h4 > <a href="https://www.instagram.com/ketabyab.ara1997">Instagram : KetaYab.ara1997</a></h4>
            <br/>
            <h4> Tel.Us : amir_ara1997</h4>

       </div>
  </div>

<div class="text-right">
    <br />
    <br />
    <br />

    <h5><p>تنظیم و طراحی : امیررضا عالشی</p></h5>

    </div>
{% endblock %}