{% extends 'base.html' %}

{% block content %}

<center>
    <p>
        <br />
        <br />
        <br />
    </p>
    <h1>با تشکر از انتخاب شما </h1>
    <br />
    <h2>سفارش شما تکمیل و برای شما ایمیلی حاوی اطلاعات پرداخت واطلاعات ارسال فرستاده خواهد شد </h2>
    <br />
    <br />
    <br />
    <br />
    <div class="col-4">
    <a href="{% url 'home' %}"><button class="btn btn-primary btn-lg btn-block"> برگشت به صفحه اصلی </button></a>
  </div>

</center>

{% endblock %}