{% extends 'base.html' %}

{% block content %}

<div>
    <h1 style="text-align:right;">
        درباره وبسایت :
    </h1>
    <br />
    <br />
    <br />

</div>
<center><h4>
    این وبسایت به قصد یاری به علم و فرهنگ کتاب خوانی ساخته شده است
    <br />
    که نه بیشتر برای خرِید و فروش بلکه برای تبادل کتاب با یکدیگر به کمکتان خواهد آمد
    <br/>
    شما می توانید با استفاده از این سایت کتاب هایی که مطالعه کردید را آگهی کرده و به فروش برسانید
    <br />
    و کتابهایی که دوست دارید از دیگران سفارش دهید و دریافت کنید
    <br />
    و صد البته ابزار کاربردی برای دانشجویان عزیز که ، کتاب واحد هایی که گذراندند
    <br />
    و دیگران نیازی به آن ندارند را به فروش بگذارند و کتاب که نیاز دارند از بقیه دانشجویان تهیه کنند
    <br />
    <br />
    <br />
    <br />
  <h3> با تشکر امیررضا عالشی دانشجوی مهندسی کامپیوتر</h3>

</h4>


</center>

{% endblock %}