{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}
<center>
    <h4>
        <br />
        توجه : لطفا در صورتی که ثبت نام نکردید به بخش ثبت نام در کادر بالا مراجعه فرمایید
    </h4>
    <p>
        <br />
        <br />

    </p>
<h1>ورود</h1>

<form method="POST" action="{% url 'login' %}">
{% csrf_token %}
    <br />
    <br/>
    <h5>نام کاربری:</h5>
<input type="text" name="username" />
<br />
    <br />
<h5>رمز عبور :</h5>
<input type="password" name="password" />
<br />
<br />
<input class="btn btn-primary" type="submit" value="ورود" />
</form>
</center>
{% endblock %}
